/* Variable Font (Recommended) */
@font-face {
    font-family: 'LibreCaslonCondensed';
    src: url(../fonts/LibreCaslonCondensed[wght].woff2) format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'LibreCaslonCondensed';
    src: url(../fonts/LibreCaslonCondensed-Italic[wght].woff2) format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
}

:root {
    font-family: LibreCaslonCondensed, sans-serif;
    font-size: 24px;
}

::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: #E91E63;
}

/* Change selection all text color */
::selection {
    color: #fff;
    background: #E91E63;
}

/* Hide webkit-based browser scrollbar */
* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

header.header-link {
    position: relative;
    transition: opacity 1s 0.5s;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}

a.social-button {
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 8rem;
    padding: 2rem 2rem 2rem; /* top, left & right, bottom */
    margin: 0;
    height: auto;
}

a.social-button:hover .social-button--background {
    opacity: 1;
}

a.social-button:hover .social-button--label {
    opacity: 1;
}

img.header-img {
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
    height: auto;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
}

div.social-button--background {
    background-color: #E91E63;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    transition: opacity 0.1s, transform 0.3s;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

div.social-button--label {
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: opacity 0.1s, transform 0.3s;
    box-sizing: border-box;
    margin-top: 1.5rem;
    opacity: 0;
    font-size: 0.8rem;
}

h1.body-section, 
h2.body-section, 
h3.body-section, 
a.body-section, 
p.body-section {
    color: rgb(34, 34, 34);
    text-align: left;
    line-height: 1.5rem;
    box-sizing: content-box;
    align-items: center;
}

a.button {
    color: #E91E63;
    text-decoration: none;
    border: #000 solid 1px;
}

a.button:hover {
    color: #fff;
    background-color: #E91E63;
    border: #E91E63 solid 1px;
}

h1.body-section {
    line-height: 3rem;
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 1rem;
}

h2.body-section {
    font-size: 2rem;
    font-weight: 700;

}

h3.body-section {
    font-size: 1.25rem;
    font-weight: 600;
}

p.body-section {
    font-size: 1rem;
    font-weight: 400;
}

span.highlight-pink {
    color: #E91E63;
    font-weight: 600;
}

article.body-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 3rem;
}

section.body-section {
    max-width: 800px;
    align-items: center;
}

article.image-grid {
    --gap: 0.125rem;
    --num-cols: 4;
    --row-heights: calc((100vw / var(--num-cols)) * 4 / 5);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-heights);
    gap: var(--gap);
    padding: 0 0 3rem;
    margin: 0;
    will-change: transform;
}

article.image-grid-span {
    --gap: 0.125rem;
    --num-cols: 4;
    --row-heights: calc((100vw / var(--num-cols)) * 9 /16);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-heights);
    gap: var(--gap);
    padding: 0 0 3rem;
    margin: 0;
}

.image-grid-span > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    content-visibility: auto;
}

.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    content-visibility: auto;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}


/* Update media queries to handle both image-grid and image-grid-span */
@media screen and (max-width: 64rem) {

    /* 1024px */
    article.image-grid {
        --num-cols: 3;
    }

    article.image-grid-span {
        --num-cols: 3;
    }
}

@media screen and (max-width: 48rem) {

    /* 768px */
    article.image-grid {
        --num-cols: 2;
    }

    article.image-grid-span {
        --num-cols: 1;
    }
}

@media screen and (max-width: 37.5rem) {

    /* 600px */
    article.image-grid {
        --num-cols: 2;
    }

    article.image-grid-span {
        --num-cols: 1;
    }
}

@media screen and (max-width: 25.75rem) {

    /* 412px */
    article.image-grid {
        --num-cols: 2;
    }

    article.image-grid-span {
        --num-cols: 1;
    }
}

img.body-section--poster {
    width: 70%;
    height: auto;
}

.slider {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 3rem;
    overflow: hidden;
}

.slides {
    width: 100%;
    aspect-ratio: 2/3;
    position: relative;
}

.slider img {
    width: 100%;
    display: none;
    object-fit: contain;
    border: black solid 1px;
    box-sizing: border-box;
}

img.displaySlide {
    display: block;
    animation: fade 1s;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 0.25rem 0.5rem;
    background-color: #E91E63;
    color: #fff;
    border: none;
    cursor: pointer;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 48rem) {

    /* 768px */
    .slider {
        max-width: 80%;
    }
}

@media screen and (max-width: 37.5rem) {

    /* 600px */
    .slider {
        max-width: 90%;
    }
}

@media screen and (max-width: 25.75rem) {

    /* 412px */
    .slider {
        max-width: 95%;
    }

    .slider button {
        font-size: 1.5rem;
        padding: 0.2rem 0.4rem;
    }
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-in.hidden {
    opacity: 0;
    transform: translateY(20px);
}

/* Footer styles */
.footer-container {
    position: relative;
    margin-top: 3rem;
}

.footer-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.footer-background svg {
    display: block;
    width: 100%;
    height: 100%;
}

footer.footer-content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
    padding: 10rem 0;
}

section.footer-section {
    max-width: 800px;
    align-items: center;
    text-align: left;
    padding: 1rem;
}

h1.footer-section,
h2.footer-section,
h3.footer-section,
p.footer-section,
li.footer-section,
.footer-section ul.contact-info {
    color: #fff;
    text-align: left;
    line-height: 1.5rem;
    box-sizing: content-box;

}

h1.footer-section {
    line-height: 3rem;
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 1rem;
}

p.footer-section {
    font-size: 1rem;
    font-weight: 400;
}

.footer-section a {
    color: #ff80ab;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

footer.footer-link {
    position: relative;
    transition: opacity 1s 0.5s;
    box-sizing: border-box;
    display: flexbox;
}

img.footer-img {
        position: relative;
        z-index: 2;
        height: 100%;
        width: 100%;
        margin-right: 10px;
}

.social-button:hover .footer-img {
    filter: invert(1);
}

